<form action ="/payment/results">
  <label for = "apr"> APR </label> <input id ="apr" name ="user_apr" type="float"><br>
  <label for ="years"> Number of years </label> <input id ="years" name ="user_years" type="number" ><br>
  <label for ="principal"> Principal </label> <input id ="principal" name ="user_pv" type="float" >
  <br>
  <button>Calculate monthly payment</button>

</form>
