<form action ="/square/results">
  <label for ="square_input"> Enter a number </label>
  <br>
  <input id ="square_input" name ="number" type="number" >
  <br>
  <button>Calculate square</button>

</form>
