<form action ="/square_root/results">
  <label for ="square_root_input"> Enter a number </label>
  <br>
  <input id ="square_root_input" name ="number" type="number" >
  <br>
  <button>Calculate square root</button>

</form>
