<form action ="/random/results">

  <label for = "min"> Minimum </label> <input id ="min" name ="user_min" type = "float"><br>
  <label for ="max"> Maximum </label> <input id ="max" name ="user_max" type="float" ><br>
  <br>
  <button>Pick random number</button>

</form>
