<h1> Random Results </h1>

<dt> Minimum </dt>
<dd> <%= @min %> </dd>

<dt> Maximum </dt>
<dd> <%= @max %> </dd>

<dt> Random Number </dt>
<dd> <%= @random_numb %> </dd>

<br>

<a href="/random/new">Calculate another random number</a>
